//lego construction projecs
//advocate of the developer language, node.js


/*html{
	background: url(../images/backgroundBlue2.svg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}*/

@media screen and (min-device-width: 1200px) {
	////custom scrollbar
	::-webkit-scrollbar {
		width: 1em;
		background-color: rgb(75, 88, 141);
	}

	::-webkit-scrollbar-thumb {
		-webkit-border-radius: 10px;
		border-radius: 300px;
		background: rgb(181, 183, 216); 
		-webkit-box-shadow: inset 0 0 5px rgba(121, 121, 121, 0.5); 
	}
	::-webkit-scrollbar-thumb:window-inactive {
		background: rgb(147, 147, 147); 
	}
	////
}

body{
	font-family: Play;
	margin: 0px;
}

a{
	text-decoration: none;
}

html, body{
	width: 100%;
	line-height: 1;
}

canvas{
	display: block;
	vertical-align: bottom;
}

//since I'm using min-width it's 2000+ px wide
$aBreak: 2000px;
$aOne: 170px;
$aTwo: 100px;
$aThree: 90px;
$aFour: 70px; //Line height 140px
$aFive: 20px;
$aSix: 45px;


// < 2000 px wide
$bBreak: 2000px;
$bOne: 120px;
$bTwo: 80px;
$bThree: 65px;
$bFour: 50px;
$bFive: 45px;
$bSix: 30px;


// < 1500px wide;
$cBreak: 1500px;
$cOne: 60px;
$cTwo: 50px;
$cThree: 40px;
$cFour: 30px;
$cFive: 20px;
$cSix: 16px;


// < 414 px wide (iphone 6 plus);
//TODO: change this too:
$dBreak: 414px;
$dOne: 110px;
$dTwo: 90px;
$dThree: 60px;
$dFour: 55px;
$dFive: 55px;
$dSix: 35px;


// < 320 px wide (iphone 5/4);
//TODO change this too:
$eBreak: 320px;
$eOne: 110px;
$eTwo: 90px;
$eThree: 50px;
$eFour: 40px;
$eFive: 55px;
$eSix: 25px;

#particles-js{
	background: rgb(88, 11, 109);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -9001;
}

//border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
.navigation{
	position: fixed;
	background-color: rgba(0, 37, 108, 0.9);
	width: 100%;
	display: inline-block;
	border-radius: 0% 0% 50% 50% / 0% 0% 20% 20%;
	.section{
		padding-left: 2.5%;
		padding-right: 2.5%;
		width: 95%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		.navLink{
			color: #9dff90;
			text-align: center;
			//font-family: open sans;
			font-size: $cFour;
			color: rgb(200, 209, 224);
			background-color: rgba(255, 255, 255, 0.0);
		}
	}
}

.block{
	width: 100%;
	display: inline-block;
	padding-bottom: 70px;
	&>.title{
		font-size: $cTwo;
		text-align: center;
		width: 50%;
		margin-left: 25%;
		margin-bottom: 20px;
		background-color: rgba(150, 150, 150, 0.5);
		border-radius: 0% 0% 60% 60% / 0% 0% 120% 120%;
	}
	.section{
		margin-top: 30px;
		width: 94%;
		margin-left: 3%;
		margin-right: 3%;
		display: inline-block;
	}
}


.home{
	background: 
		linear-gradient(
			rgba(0, 0, 0, 0.69), 
			rgba(0, 0, 0, 0.72)
		),	
		url(../images/backgroundPicture.png) no-repeat left center fixed; 
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	padding-bottom: 0px;
	.section{
		margin-top: 0px;
		.top{
			font-family: play;
			width: 100%;
			float: left;
			text-align: center;
			padding-bottom: 50px;
			color: white;
			display: flex;
			flex-direction: column;
			justify-content: center;
			.title{
				font-size: $cOne;
				.name{
					display: inline;
					font-weight: bold;
				}
			}
			.line{
				font-size: $cFour;
			}
			.line1{
				color: #d08b8b;
			}
			.line2{
				color: #73c787;
			}
			.line3{
				color: #a09ad0;
			}
		}
		.bottom{
			padding-top: 30px;
			width: 100%;
			display: flex;
			align-items: center;
			background-color: rgba(0, 88, 255, 0.34);
			justify-content: center;
			flex-wrap: wrap;
			border-radius: 20% 20% 0% 0% / 100% 100% 0% 0%;
			.link{
				margin-left: 1%;
				margin-right: 1%;
				color: #ffffff;
				padding: 30px;
				background-color: rgba(255, 255, 255, 0.32);
				font-size: $cFour;
			}
		}
	}
}


.about{
	background-color: rgba(98, 98, 98, 0.5);
	color: #F2ECF4;
	.title{

	}
	.section{
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
		.left{
			width: 28%;
			float: left;
			margin-right: 2%;
			.profile{
				img{
					border-radius: 25%;
				}
			}
		}
		.right{
			width: 68%;
			float: left;
			margin-left: 2%;
			.content{
				.desc{
					font-size: $cFour;
				}
				.text{
					margin-top: 20px;
					font-size: $cFive;
				}
			}
		}
	}
}

.skills{
	background-color: rgba(5, 35, 92, 0.67);
	color: white;
	.title{

	}
	.section{
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
		.content{
			.subSection{
				margin-top: 15px;
				.subTitle{
					font-size: $cFour;
				}
				.content{
					text-indent: 10%;
					font-size: $cFive;
				}
			}
			.section1{
				
			}
			.section2{
				
			}
		}
	}
}