/* line 5, C:/Users/Splash/Documents/GitHub/person/css/style.scss */
html {
  background: url(../images/backgroundBlue.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

@media screen and (min-device-width: 1200px) {
  /* line 15, C:/Users/Splash/Documents/GitHub/person/css/style.scss */
  ::-webkit-scrollbar {
    width: 1em;
    background-color: #4b588d; }
  /* line 20, C:/Users/Splash/Documents/GitHub/person/css/style.scss */
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 300px;
    background: #b5b7d8;
    -webkit-box-shadow: inset 0 0 5px rgba(121, 121, 121, 0.5); }
  /* line 26, C:/Users/Splash/Documents/GitHub/person/css/style.scss */
  ::-webkit-scrollbar-thumb:window-inactive {
    background: #939393; } }

/* line 32, C:/Users/Splash/Documents/GitHub/person/css/style.scss */
body {
  font-family: Open Sans;
  margin: 0px; }

/* line 36, C:/Users/Splash/Documents/GitHub/person/css/style.scss */
a {
  text-decoration: none; }

/* line 40, C:/Users/Splash/Documents/GitHub/person/css/style.scss */
html, body {
  width: 100%; }

/* line 98, C:/Users/Splash/Documents/GitHub/person/css/style.scss */
.navigation {
  position: fixed;
  background-color: rgba(0, 37, 108, 0.9);
  width: 100%;
  display: inline-block;
  border-radius: 0% 0% 50% 50%/0% 0% 20% 20%; }
  /* line 104, C:/Users/Splash/Documents/GitHub/person/css/style.scss */
  .navigation .section {
    padding-left: 2.5%;
    padding-right: 2.5%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; }
    /* line 112, C:/Users/Splash/Documents/GitHub/person/css/style.scss */
    .navigation .section .navLink {
      color: #9dff90;
      text-align: center;
      font-family: open sans;
      font-size: 30px;
      color: #c8d1e0;
      background-color: rgba(255, 255, 255, 0); }

/* line 123, C:/Users/Splash/Documents/GitHub/person/css/style.scss */
.block {
  width: 100%;
  display: inline-block;
  padding-bottom: 70px; }
  /* line 127, C:/Users/Splash/Documents/GitHub/person/css/style.scss */
  .block > .title {
    font-size: 50px;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 20px;
    background-color: rgba(0, 52, 255, 0.7);
    border-radius: 0% 0% 60% 60%/0% 0% 120% 120%; }
  /* line 136, C:/Users/Splash/Documents/GitHub/person/css/style.scss */
  .block .section {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    display: inline-block; }

/* line 145, C:/Users/Splash/Documents/GitHub/person/css/style.scss */
.home {
  background: linear-gradient(rgba(0, 0, 0, 0.69), rgba(0, 0, 0, 0.72)), url(../images/backgroundPicture.png) no-repeat left center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 0px; }
  /* line 160, C:/Users/Splash/Documents/GitHub/person/css/style.scss */
  .home .section .top {
    font-family: play;
    width: 100%;
    float: left;
    text-align: center;
    padding-bottom: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    /* line 170, C:/Users/Splash/Documents/GitHub/person/css/style.scss */
    .home .section .top .title {
      font-size: 60px; }
      /* line 172, C:/Users/Splash/Documents/GitHub/person/css/style.scss */
      .home .section .top .title .name {
        display: inline;
        font-weight: bold; }
    /* line 177, C:/Users/Splash/Documents/GitHub/person/css/style.scss */
    .home .section .top .line {
      font-size: 30px; }
    /* line 180, C:/Users/Splash/Documents/GitHub/person/css/style.scss */
    .home .section .top .line1 {
      color: #d08b8b; }
    /* line 183, C:/Users/Splash/Documents/GitHub/person/css/style.scss */
    .home .section .top .line2 {
      color: #73c787; }
    /* line 186, C:/Users/Splash/Documents/GitHub/person/css/style.scss */
    .home .section .top .line3 {
      color: #a09ad0; }
  /* line 190, C:/Users/Splash/Documents/GitHub/person/css/style.scss */
  .home .section .bottom {
    padding-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(0, 88, 255, 0.34);
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 20% 20% 0% 0%/100% 100% 0% 0%; }
    /* line 199, C:/Users/Splash/Documents/GitHub/person/css/style.scss */
    .home .section .bottom .link {
      margin-left: 1%;
      margin-right: 1%;
      color: #ffffff;
      padding: 30px;
      background-color: rgba(255, 255, 255, 0.32);
      font-size: 30px; }

/* line 212, C:/Users/Splash/Documents/GitHub/person/css/style.scss */
.about {
  background-color: rgba(5, 35, 92, 0.32);
  color: #dbe4ef; }
  /* line 218, C:/Users/Splash/Documents/GitHub/person/css/style.scss */
  .about .section {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%; }
    /* line 222, C:/Users/Splash/Documents/GitHub/person/css/style.scss */
    .about .section .left {
      width: 28%;
      float: left;
      margin-right: 2%; }
      /* line 227, C:/Users/Splash/Documents/GitHub/person/css/style.scss */
      .about .section .left .profile img {
        width: 100%;
        border-radius: 25%; }
    /* line 233, C:/Users/Splash/Documents/GitHub/person/css/style.scss */
    .about .section .right {
      width: 68%;
      float: left;
      margin-left: 2%; }
      /* line 238, C:/Users/Splash/Documents/GitHub/person/css/style.scss */
      .about .section .right .content .desc {
        font-size: 30px; }
      /* line 241, C:/Users/Splash/Documents/GitHub/person/css/style.scss */
      .about .section .right .content .text {
        margin-top: 20px;
        font-size: 20px; }

/* line 250, C:/Users/Splash/Documents/GitHub/person/css/style.scss */
.skills {
  background-color: #d05017; }
  /* line 255, C:/Users/Splash/Documents/GitHub/person/css/style.scss */
  .skills .section {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%; }
    /* line 260, C:/Users/Splash/Documents/GitHub/person/css/style.scss */
    .skills .section .content .subSection {
      margin-top: 15px; }
      /* line 262, C:/Users/Splash/Documents/GitHub/person/css/style.scss */
      .skills .section .content .subSection .subTitle {
        font-size: 30px; }
      /* line 265, C:/Users/Splash/Documents/GitHub/person/css/style.scss */
      .skills .section .content .subSection .content {
        text-indent: 5%;
        font-size: 20px; }

/*# sourceMappingURL=style.css.map */